html, body {
	height: 100%;
	max-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	cursor: default;
}
body {
	overflow: hidden;
}
footer {
	float: right;
	margin-right: 25px;
}
div#windowTitleBar {
	width: 100%;
	height: 30px;
	background-color:#f0f0f0;
	margin-bottom:10px;
}
div#mainTitle a {
	width: 100%;
	text-align: center;
	padding-top: 5px;
}
div.windowMaxMinButtons a, div#mainTitle a {
	-webkit-user-select: none;
	cursor: default;
	position: absolute;
}
div.windowMaxMinButtons {
	width: 30px;
	height: 30px;
	float: right;
}
/*div#windowClose {
	background-color: #ccc;
}*/
div.windowMaxMinButtons a {
	position: absolute;
	margin: 5px 0 0 10px;
}
div#windowClose:hover {
	background-color: #e04343;
	color: #FFF;
	-webkit-transition: background-color 0.3s ease-in;
}
div#windowMinimize:hover {
	background-color: #3665b3;
	color: #FFF;
	-webkit-transition: background-color 0.3s ease-in;
}
/*Total app width - sidebar width = 1120 - 240 = 880*/
main {
	width: 880px;
	overflow: hidden;
	left: 240px;
	height: 100%;
}
section.main-page {
	text-align: center;
}
section.page-invisible {
	display: none !important;
}
/*========================================================================================================================*/
/*Input Styling*/
form input {
	border: none;
	background: transparent;
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #000;
	border-bottom: 1px dashed #000;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	font-weight: bold;
}
textarea, input, button, textarea:active {
	outline: none;
}
/*Text-Area Styling*/
div.bulk-product-wrapper {
	width: 340px;
	margin: auto;
}
textarea {
	width: 220pxpx;
	height: 120px;
	font-size: 20px;
	padding: 10px;
	line-height: 30px;
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	margin-left: 25px;
	resize: none;
}
/*========================================================================================================================*/

/*Button Styling*/
div.button-wrapper {
	text-align: center;
	padding-top: 20px;
	clear: both;
}
button {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}
button:hover, button:active {
	background: /*#1478b1*/ #00AFF0;
}
button:disabled {
	background: #dddddd;
}
/*========================================================================================================================*/
/*Table Styling*/
div.product-calculator-wrapper {
	height: 370px;
	margin: auto;
	overflow: auto;
}
table {
	width: auto;
	border: thin;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.2em;
	border-collapse: collapse;
	text-align: center;
}
table.hidden {
	display: none;
}
table caption div {
	color: #FFFFFF;
	display:block;
    float: right;
    padding:10px 0;
	width:124px;
	background-color:#10689a;
}
/*table caption {
	height: auto;
	position: fixed;
}
table thead{
  position:fixed;
}*/
table thead tr th {
	padding: 10px;
	color: #fff;
	font-size: 20px;
	background-color: #4ea233;
	font-weight: normal;
	border: 1px solid #53ab30;
}
table tbody tr td {
	padding: 10px 0;
	border-right: 1px dotted #999;
	text-transform: uppercase;
	color: #333;
}
table tbody tr td.material-details span {
	display: block;
}
table tbody tr td.material-details span:nth-child(odd) {
	background-color: #f0f0f0;
}
table tbody tr td.material-details span:nth-child(even) {
	background-color: #a9ce64;
}
tr:nth-child(odd) {
	background-color: #f0f0f0;
}
tr:nth-child(even) {
	background-color: #a9ce64;
}
